@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: black;
    padding: 10px;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.right-side{
    display: flex;
    
}

.right-side img{
    display: flex;
    align-self: center;
    
}

.pink-section{
    height: 400px;;
    text-align: center;
    background:#FFCDD2;
    padding: 200px 30px 100px 30px;
}

.pink-section h1{
    margin-bottom: 20px;
    color: #D83519;
    line-height: 55.5px;
    font-size: 50px;
}

.pink-section button{
    margin-bottom: 20px;
    background-color: #D83519;
    font-weight: 700;
    color: #FFCDD2;
    border: none;
    padding: 18px 35px;
    border-radius: 50px;
}


.pink-section p{
    color: #D83519;
    font-size: 15px;
}

.blue-section{
    height: 150px;;
    text-align: center;
    background:#2941AB;
    padding: 120px 30px 120px 30px;
}

.blue-section h2{
    margin-top: 50px;
    margin-bottom: 20px;
    color:#1ED760;
    font-size:34px;
}

.blue-section button{
    margin-bottom: 20px;
    background-color: #1ED760;
    color: #2941AB;
    font-weight: 700;
    border: none;
    padding: 18px 35px;
    border-radius: 50px;
}


.blue-section p{
    color: #1ED760;
    font-size: 15px;
    margin-bottom: 20px;
}

.tk-blob{
    max-width: 50px;
    margin-top: -130px;
    padding-left: 190px;
    
}

footer{
    color: black;
    background-color: black;
    padding-left: 15px;
}

footer img{
    padding-top: 50px;
    
}

.company{
    color: white;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 8px;
}

.first-p{
    padding-bottom: 15px;
    font-weight: 700;
    color: #919496;
}

.company p{
    padding-bottom: 20px;
}
